* {
  margin: 0;
  padding: 0;
}

body {
  color: white!important;
}
p{
  font-size: 50px;
  font-weight: 400;
  background-image: linear-gradient(to bottom, #66ffff, #00ccff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}
.App {
  text-align: center;
  height: 150vh;
  font-size: 20px;
  font-weight: 200;
  word-spacing: 1px;
  line-height: 1.45em;
  /* font-family: "Ubuntu", "Sharp Sans No1", Sans-serif; */
  background-image: url(./img/blockchain.jpeg);
  background-size: inherit;
  background-position: inherit;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-page {
  padding-top: 20px;
}

.home-nav {
  padding-left: 30px;
  padding-right: 30px;
}

.sign-up {
  padding-top: 50px;
  font-size: 40px;
  font-weight: 200;
}

.signup-form {
  padding-top: 60px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
}

.signin-onUp {
  font-size: 20px;
  font-weight: 100;
}

.home-page {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 200;
  line-height: 1.5em;
}

.user-account {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 30px;
}

.textCenter{
  text-align: center!important;
}
.user-card {
  margin-top: 30px;
}

.button{
  border-radius: 25px!important;
}

.expired-notice {
  text-align: center;
  padding: 2rem;
  /* border: 2px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem; */
}
.ui[class*="left action"].input>input {
  border-radius: 25px!important;
  border-bottom-left-radius: 2!important;
  border-bottom-left-radius: 2!important;
}
 .ui.fluid.card {
   word-wrap: break-word;
   text-align: left;
   border-radius: 1.5rem;
 }
 .ui.fluid.card.electionWinner{
  border: 3px solid #0feacce6;
  border-radius: 1.5rem;
  background-color: #86c7bee6;
}

.expired-notice > span {
  font-size: 2rem;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 2px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}
