* {
  margin: 0;
  padding: 0;
}
body {
  color: white!important;
}
div.homeHeader{
  font-size: 40px;
  font-weight: 400;
  background-image: linear-gradient(to bottom, #66ffff, #00ccff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding-bottom: 1rem;

}
.ui.input.fileInput>input {
  margin-left: 12px;
  max-width: 70%!important;
}
.imageUpload{
  margin: 12px;
  margin-left: 50px
}
.column.uploadCont{
  margin-top: 10px!important;
}
.column.pads{
  padding-bottom: 2rem;
}
.App {
  text-align: center;
  height: 120vh;
  font-size: 20px;
  font-weight: 200;
  word-spacing: 1px;
  line-height: 1.45em;
  /* font-family: "Ubuntu", "Sharp Sans No1", Sans-serif; */
  background-image: url(./img/blockchain.jpeg);
  background-size: inherit;
  background-position: inherit;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-page {
  padding-top: 20px;
}

.home-nav {
  padding-left: 30px;
  padding-right: 30px;
}

.sign-up {
  padding-top: 50px;
  font-size: 40px;
  font-weight: 200;
}

.signup-form {
  padding-top: 60px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
}

.signin-onUp {
  font-size: 20px;
  font-weight: 100;
}

b, strong {
  font-weight: bold;
}

.home-page {
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 30px;
  font-size: 25px;
  font-weight: 100;
  line-height: 1.5em;
}

.user-account {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 30px;
}

.textCenter{
  text-align: center!important;
}

.user-card {
  margin-top: 30px;
}
.ui.fluid.card.userAccount {
  margin: auto;
  width: 500px;
}

.ui.fluid.card.adminCards {
  margin: auto;
  width: 310px;
}

.ui.fluid.card.electionWinner {
  margin: auto;
  width: 310px;
}

.button{
  border-radius: 25px!important;
}

.expired-notice {
  text-align: center;
}
.ui[class*="left action"].input>input {
  border-radius: 25px!important;
  border-bottom-left-radius: 2!important;
  border-bottom-left-radius: 2!important;
}
 .ui.fluid.card {
   text-align: left;
   border-radius: 1.5rem;
 }
 .ui.fluid.card.electionWinner{
  border: 3px solid #0feacce6;
  border-radius: 1.5rem;
  background-color: #86c7bee6;
  background-image: url(./img/winner.jpeg);
  background-repeat: no-repeat;
  background-position: 30px 250px;
  background-size: 250px;
}

.ui.disabled.button.claim_gift{
  background-color: #c0e660;
  opacity: 1!important;
}

span.voting{
  font-size: x-large;
  color: #177465;
  font-family: cursive;
  font-weight: 200;
}
span.name{
  font-size: x-large;
  font-weight: bold;
}
h1.header{
  font-size: 40px;
  font-weight: lighter;
  font-family: fangsong;
}

span > b.name{
  color: #1522b7;
  font-size: inherit;
  font-weight: normal;
}

span > b.tie{
  color: crimson;
  font-size: xx-large;
  font-weight: bolder;
}

span > b.vote_count{
  color: crimson;
  font-size: larger;
  font-weight: 600;
}

.expired-notice > span {
  font-size: 2rem;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 2px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

.ui.mini.message {
  overflow-wrap: break-word;
}

span.subHeading{
  font-size: 26px;
  font-weight: 600;
  color: #93daf7;
}

span.heading{
  font-size: 30px;
  font-weight: 800;
  color: #53c0ed;
}
